<div>
  <h1> A-d-d  </h1>

  slides: <input type="checkbox" ng-model="checked" aria-label="Toggle ngShow" ><br />
  <div class="check-element animate-show-hide" ng-show="checked">

    <pre class="hideme" ng-class="{showme: checked}">
      #####    ######   #####     ######    #  #####    ######  #     #    #    #
      #        #    #   #    #    #         #  #        #       #     #    ##   #
      #        #    #   #    #    ###       #  #####    ####    #     #    # #  #
      #        #    #   #    #    #         #      #    #       #     #    #  # #
      #####    ######   #####     ######    #  #####    #       #######    #   ##


    </pre>

    <slides />



  </div>

  <!-- {{$ctrl.pullslides()}} -->

  <div ng-class="{hideme: checked}">
    <h3> Stats </h3>
    <stats-item ng-repeat="func in $ctrl.stats" mathFunc=func />
  </div>

  <div ng-class="{hideme: checked}">
    <func-item stats=$ctrl.stats ng-repeat="item in $ctrl.items" item=item />
  </div>



  <canvas id="doughnut" class="chart chart-doughnut q" chart-data="$ctrl.data" chart-labels="$ctrl.labels" chart-options="$ctrl.options" width="1000" height="150">
  </canvas>

</div>
